<h1> <%= @dish.name %> </h1>

<% @dish.ingredients.each do |ingredient| %>
  <%= ingredient.name %>
<% end  %>

<%= "Total calorie count: #{@dish.total_calories}" %>
<h1> <%= "Cooked by #{@dish.chef.name}" %> </h1>
